html {
    font-size: 110%;
    
}

body {
    background-color: #2D4059;
}

#header {
    background-color: #222831;
    height: 200px;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#content {
    margin: -100px auto 0 auto;
    width: 94%;
}

#logo {
    margin: 0 auto 0 auto;
    width: 90%;
    position: relative;
    top: 3%;
}

#logo h1 {
    color: white;
    font-size: 1.3rem;
    font-family: monospace;
    font-weight: 100;
}

#logo h1 span {
    color: #EA5455;
}

.img-card {
    max-width: 300px;
    width: 100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card {
    box-sizing: border-box;
    width: 100%;
    color: #000000;
    background-color: #EEEEEE;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);  
    padding: 1px 6% 1px 5%;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.card h2 {
    font-size: 1.5rem;
    font-weight: 400;
}

.card h3 {
    font-weight: 400;
}
.card p {
    font-family: inherit;
    font-size: .8rem;
    margin-top: -10px;
    text-align: justify;
    text-justify: distribute; 
    line-height: 20px;
}

.card p strong {
    font-weight: 700;
}

.card ul li {
    font-size: .8rem;
    line-height: 20px;
    margin-left: -20px;
}

#social {
    width: 100%;
    background-color: #FF5722;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    height: 50px;
    text-align: center;
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    transition: background-color 1s;
}

#social ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

#social li {
    display: inline-block;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 12px;
}

#social img {
    height: 25px;
}

#social:hover {
    background-color: #EA5455;
}

@media only screen and (min-width: 700px) {
    .img-card {
        max-width: none;
        width: 33.333333%;
        float: left;
        margin-right: 6.666666%
    }
    .col-d-60 {
        float: left;
        width: 60%;
    }
    .col-d-50-l {
        float: left;
        width: 48%;
    }
    .col-d-50-r {
        float: right;
        width: 48%;
    }
}