html {
    font-size: 100%;  
}

body {
    background-color: #2D4059;
}

#page-wrap {
    max-width: 960px;
    margin: 0 auto;
}

#header {
    background-color: #222831;
    height: 200px;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#main-content {
    margin: -100px auto 0 auto;
    width: 94%;
}

#introduction {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-between;
}

#knowledge {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#logo {
    margin: 0 auto 0 auto;
    width: 90%;
    position: relative;
    top: 3%;
}

#logo h1 {
    color: white;
    font-size: 1.3rem;
    font-family: monospace;
    font-weight: 100;
}

#logo h1 span {
    color: #EA5455;
}

.img-card {
    max-width: 300px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.card {
    flex-grow: 1;
    box-sizing: border-box;
    color: #000000;
    background-color: #EEEEEE;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);  
    padding: 1px 6% 1px 5%;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.card h2 {
    font-size: 1.5rem;
    font-weight: 400;
}

.card h3 {
    font-weight: 400;
}
.card p {
    font-family: inherit;
    font-size: .8rem;
    margin-top: -10px;
    text-align: justify;
    text-justify: distribute; 
    line-height: 20px;
}

.card p strong {
    font-weight: 700;
}

.card ul li {
    font-size: .8rem;
    line-height: 20px;
    margin-left: -20px;
}

#social {
    width: 100%;
    background-color: #FF5722;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    height: 50px;
    text-align: center;
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    transition: background-color 1s;
}

#social ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

#social li {
    display: inline-block;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 12px;
}

#social img {
    height: 25px;
}

#social:hover {
    background-color: #EA5455;
}

@media only screen and (min-width: 700px) {

    html {
        font-size: 110%;  
    }

    .img-card {
        max-width: none;
        margin: none;
        margin-right: 20px;
        flex: 1;
    }

    #introduction {
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: stretch;
    }

    #data {
        display: flex;
        flex-direction: column;
        /*flex-basis: 60%;*/
        flex: 2;
        justify-content: space-between;
    }

    #knowledge {
        flex-direction: row;
        justify-content: space-between;
    }

    #knowledge .card {
        flex-grow: 0;
    }

    .halfs {
        flex-basis: 49%;
    }

}